@import '../scss/_breakpoints';

.container {
  margin: 0 auto;
  padding: 5rem 0;
  max-width: 40rem;
}

@include lg {
  .container {
    max-width: map-get($breakpoints, "lg");
    padding: 7rem 0;
  }
}

.container * {
  background-color: transparent;
}